*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maincontainer{
    height: 400vh;
    width: 100vw;
    background-color: #3d1061;
    scroll-behavior: smooth;
}
nav{
    height: 8vh;
    width: 100vw;
    top: 10px;
    position: fixed;
    z-index: 1;
}
#logo{
    height: 10vh;
    position: absolute;
    left: 3%;
}
ul{
    height: 49px;
    width: 490px;
    position: absolute;
    top: 2px;
    left: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-radius: 10px;
}
li{
    height: 40px;
    font-family: calibri;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    text-align: center;
    padding-top: 2px;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 10px;
}
#list1{
    height: 29px;
    width: 70px;
    
}
#list2{
    height: 29px;
    width:80px;
}
#list3{
    height: 29px;
    width: 110px;
}
#list4{
    height: 29px;
    width: 80px;
}
#list5{
    height: 29px;
    width: 110px;
}
li:hover{
    border-bottom: 4px solid blue;
    height: 45px;
}
#container{
    height: 550px;
    width: 100vw;
}
#robot{
    height: 370px;
    width: 370px;
    /* border: 2px solid red; */
    position: absolute;
    top: 20%;
    left: 4%;
    background: url(images/robot111.webp);
    background-size: cover;
}
#welcome{
    height: 300px;
    width: 800px;
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: calibri;
    font-size: 4rem;
    font-weight: bold;
    color: #FCA311;
    padding-top: 20px;
}
#details{
    font-size: 40px; 
    font-family: calibri; 
    font-weight: 600; 
    padding-left: 14%;
    color:  white;
}
button{
    height: 45px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid #FCA311;
   background-color: #3d1061;
    font-size: 14px;
    font-weight: bold;
    color: #FCA311;
    position: absolute;
    left: 30%;
    top: 55%;
    cursor: progress;
}
#about{
    height: 450px;
    width: 100vw;
    background-color: #3f2952;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100%;
}
#knowme{
    height: 350px;
    width: 50vw;
    /* background-color: yellow; */
    position: absolute;
    top: 10%;
    left: 7%;
    font-family: cursive;
    font-size: 1.5rem;
    padding-top: 10px;
    text-align: center;
    color: #FCA311;
}
#aboutheader{
    font-size: 40px; 
    font-family: cursive; 
    font-weight: bold;;
}
#imageofknow{
    height: 350px;
    width: 35vw;
    position: absolute;
    top: 10%;
    left: 60%;
    background: url(images/webd.webp);
    background-size: cover ;

}
#skill{
    height: 450px;
    width: 100vw;
    background-color: #3f2952;
    /* background-color: red; */
    position: relative;
    top: 19%;
}
#skillheader{
    background-color: #3d1061;
     height: 60px; 
    padding-top: 17px; 
    color: white; 
    text-align: center; 
    font-family:  cursive; 
    font-size: 25px;
}
#web{
    font-size: 25px;
    font-family: calibri;
    width: 640px;
    color: white;
    padding-left: 30px;
    padding-top: 30px;
}
#skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 80px;
    left: 680px;
    width: 47%;
    height: 80%;
    gap: 30px;
}
#skillimage1{
    height: 100px;
    width: 200px;
    background: url(images/html.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage2{
    height: 100px;
    width: 200px;
    background: url(images/CSS3.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage3{
    height: 100px;
    width: 200px;
    background: url(images/Bootstrap.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage4{
    height: 100px;
    width: 200px;
    background: url(images/Taiwindcss.png) ;
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage5{
    height: 100px;
    width: 200px;
    background: url(images/github.png) ;
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage6{
    height: 100px;
    width: 200px;
    background: url(images/JavaScript.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage7{
    height: 100px;
    width: 200px;
    background: url(images/React.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage8{
    height: 100px;
    width: 200px;
    background: url(images/Node_js.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#project{
    height: 450px;
    width: 100vw;
    background-color:  #3f2952;
    position: relative;
    top: 20%;
    justify-content: space-around;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
#doneproject{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    margin: auto;
}
footer{
    height: 450px;
    width: 100vw;
    background-color: #3f2952;
    position: relative;
    top: 21%;
}
#myimg{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 80px;
    top: 20px;
}
#contactcontainer{
    background-color: #3d1061;
    height: 400px;
    width: 45%;
    position: absolute;
    left: 37%;
    top: 20px;

}
#contact{
    font-size: 40px;
    color: white;
    font-family: calibri;
    text-align: center;
}
#description{
    color: #FCA311;
    font-size: 25px;
    font-family: calibri;
    line-height: 30px;

}
#linked{
    height: 50px;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    left: 4%;
    top: 70%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
img{
    height: 50px;
}
@media(min-width:320px) and
(max-width:780px){
    #maincontainer{
        height: 300vh;
    }
    nav{
        height: 4vh;
        position: fixed;
        z-index: 1;
    }
    #logo{
        height: 4vh;
        position: absolute;
        left: 3%;
    }
    ul{
        height: 29px;
        width: 270px;
        top: 2px;
        left: 19%;
        gap: 5px;
        border-radius: 10px;
    }
    li{
        height: 29px;
        font-family: calibri;
        font-size: 12px;
        font-weight: 600;
        color: white;
        text-align: center;
        padding-top: 5px;
        cursor: pointer;
        border-top: none ;
        border-radius: 10px;
    }
    #list1{
        width: 70px;
        
    }
    #list2{
        width:70px;
    }
    #list3{
        width: 110px;
    }
    #list4{
        width: 100px;
    }
    #list5{
        width: 110px;
    }
    li:hover{
        border-bottom: 2px solid blue;
        height: 29px;
        color: #FCA311;
    }
    #container{
        height: 500px;
        width: 100vw;
        top: 20%;
    }
    #robot{
        height: 180px;
        width: 180px;
        top: 22%;
        left: 0%;
    }
    #welcome{
        height: 200px;
        width: 230px;
        top: 28%;
        left: 41%;
        font-size: 19px;
        font-weight: bold;
        color: #FCA311;
        padding-top: 20px;
    }
    #walving{
        width: 15px;
        height: 15px;
    }
    button{
        height: 25px;
        width: 150px;
        font-size: 14px;
        left: 10%;
        top:49%;
    } 
    #details{
        font-size: 20px; 
        padding-left: 0%;
        color:  white;
    }
    #about{
        height: 250px;
        top: 77%;
    }
    #knowme{
        height: 200px;
        width: 50vw;
        top: 3%;
        left: 7%;
        font-size: 10px;
        padding-top: 3px;
    }
    #aboutheader{
        font-size: 20px;
    }
    #imageofknow{
        height: 150px;
        width: 150px;
        top: 10%;
        left: 58%;
        background: url(images/webd.webp);
        background-size: cover;
    }
    #skill{
        height: 320px;
        width: 100vw;
        background-color: #3f2952;
        position: relative;
        top: 14%;
    }
    #web{
        font-size: 12px;
        width: 370px;
        padding-left: 6px;
        padding-top: 4px;
        color: #FCA311;
    }
    #skills{
        top: 170px;
        left: 20px;
        width: 90%;
        height: 44%;
    }
    #skillimage1,#skillimage2, #skillimage3, #skillimage4,
     #skillimage5, #skillimage6,#skillimage7
    ,#skillimage8{
        height: 20px;
        width: 40px;
    }
    #skillheader{
         height: 30px; 
        padding-top: 2px; 
        color: white; 
        text-align: center; 
        font-family:  cursive; 
        font-size: 15px;
    }
    #project{
        height: 350px;
        top: 16%;
        grid-template-columns: repeat(3, 1fr);
    }
    #doneproject{
        height: 100px;
        width: 100px;
    }
    footer{
        height: 350px;
        top: 18%;
    }
    #myimg{
        height: 100px;
        width: 100px;
        left: 150px;
        top: 16px;
    }
    #contactcontainer{
        background-color: #3d1061;
        /* background-color: red; */
        height: 200px;
        width: 95%;
        left: 4%;
        top: 37%;
    
    }
    #contact{
        font-size: 20px;
    }
    #description{
        font-size: 15px;
        line-height: 19px;
        padding-left: 10px;
    }
    #linked{
        height: 40px;
        left: 4%;
        top: 74%;

    }
    img{
        height: 38px;
    }
    
}