*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maincontainer{
    height: 400vh;
    width: 100vw;
    background-color: black;
    scroll-behavior: smooth;
}
nav{
    height: 8vh;
    width: 100vw;
    /* background-color: black; */
    /* position: absolute; */
    top: 10px;
    position: fixed;
    z-index: 1;
    /* border: 2px solid red; */
}
#logo{
    height: 10vh;
    position: absolute;
    left: 3%;

}
ul{
    height: 49px;
    width: 490px;
    position: absolute;
    top: 2px;
    left: 35%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    /* border-bottom: 2px solid green;
    border-top: 2px solid green; */
}
li{
    height: 40px;
    /* background-color: black; */
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
    color: blue;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-radius: 10px;
}
li:hover{
    border-bottom: 4px solid blue;
    height: 45px;
    /* background-color: darkblue; */

}
#container{
    height: 550px;
    width: 100vw;
}
#robot{
    height: 370px;
    width: 370px;
    /* border: 2px solid red; */
    position: absolute;
    top: 20%;
    left: 4%;
    background: url(images/robot111.webp);
    background-size: cover;
}
#welcome{
    height: 300px;
    width: 800px;
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: calibri;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    /* border: 2px solid blue; */
    padding-top: 20px;
}
button{
    height: 45px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: teal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
    color: #FCA311;
    position: absolute;
    left: 30%;
    top: 55%;
    cursor: progress;
}
#about{
    height: 450px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    position: absolute;
    top: 100%;
}
#knowme{
    height: 350px;
    width: 50vw;
    /* background-color: yellow; */
    position: absolute;
    top: 10%;
    left: 7%;
    font-family: cursive;
    font-size: 1.5rem;
    padding-top: 10px;
    text-align: center;
    color: white;
}
#imageofknow{
    height: 350px;
    width: 35vw;
    position: absolute;
    top: 10%;
    left: 60%;
    background: url(images/webd.webp);
    background-size: cover ;

}
#skill{
    height: 450px;
    width: 100vw;
    /* background-color: black; */
    /* background-color: red; */
    position: relative;
    top: 19%;
    color: blue;
}
#web{
    font-size: 25px;
    font-family: calibri;
    width: 640px;
    /* color: darkblue; */
    color: white;
    padding-left: 30px;
    padding-top: 30px;
}
#skills{
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 80px;
    left: 680px;
    width: 47%;
    /* background-color: yellow; */
    height: 80%;
    gap: 30px;
}
#skillimage1{
    height: 100px;
    width: 200px;
    background: url(images/html.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage2{
    height: 100px;
    width: 200px;
    background: url(images/CSS3.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage3{
    height: 100px;
    width: 200px;
    background: url(images/Bootstrap.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage4{
    height: 100px;
    width: 200px;
    background: url(images/github.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage5{
    height: 100px;
    width: 200px;
    background: url(images/JavaScript.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage6{
    height: 100px;
    width: 200px;
    background: url(images/React.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#skillimage7{
    height: 100px;
    width: 200px;
    background: url(images/Node_js.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
#project{
    height: 450px;
    width: 100vw;
    background-color: yellow;
    position: relative;
    top: 20%;
}
footer{
    height: 450px;
    width: 100vw;
    /* background-color: red; */
    position: relative;
    top: 21%;
}
#circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid black;
}
#myimg{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 80px;
    top: 20px;
}
#contactcontainer{
    background-color: black;
    height: 400px;
    width: 45%;
    position: absolute;
    left: 37%;
    top: 20px;

}
#contact{
    font-size: 40px;
    color: blue;
    font-family: calibri;
    text-align: center;
}
#description{
    color: blue;
    font-size: 25px;
    font-family: calibri;
    line-height: 30px;

}
#linked{
    height: 50px;
    width: 90%;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    left: 4%;
    top: 70%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
img{
    height: 50px;
}